<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="menuApp">
<head>
<!-- 

	The Angular Menu

	Author: Jerry Lin          

-->
	<title>Barista Inteface</title>
	
	<link href="lib/bootstrap.min.css" rel="stylesheet" />
	<link href="lib/Style.css" rel="stylesheet" />
	<script src="lib/jquery.min.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="lib/socket.io-1.4.5.js" type="text/javascript"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/bootstrap.min.js" type="text/javascript"></script>
	<script src="lib/kitchen.js" type="text/javascript"></script>
	<script src="lib/animation.js" type="text/javascript"></script>
	<script src="lib/TweenMax.min.js" type="text/javascript"></script>
</head>

<body>
	<h1>Orders to be made</h1>
	<div class="top">
	</div>
	<div ng-controller="MenuListController as menuList">
		<div ng-repeat="orderedItem in menuList.orderedItems track by $index">
			<div ng-click="menuList.deleteOrder($index)" class="orderRow">
				<div class="menuDescription">{{orderedItem.text}}</div>
				<div class="menuSize">{{orderedItem.size}}</div>
				<div class="menuCommentInRow">{{orderedItem.comment}}</div>
				<div class="menuClick">Click to Delete</div>
				<div class="menuOrderNumber">Order number:{{orderedItem.orderNumber}}</div>
			</div>
		</div>
	</div>
</body>

</html>